<section class="module parallax parallax-1">
  <div class="container">
    <h1>michael</h1>
  </div>
</section>

<section class="module content">
  <div class="container" id="logo">
  	<p class="animated fadeIn teaser-text">Front End Web Developer.<br/>
  	Raised in Beijing. Living in Los Angeles.<br/>
  	Tabs, Not Spaces.<br/>
  	Travel Junkie.<br/>
  	<span class="delay animated fadeIn"><b>Now available for you.</b></span></p>
  </div>
</section>


<section class="teaser parallax parallax-2">
    <img src="<%= asset_path( 'background.png' ) %>" style="width: 100%;">
</section>

<section class="module content">
  <div class="container" id="recent-projects">
    <div><img src="<%= asset_path( 'recent.svg' ) %>"></div>
    <div class="media">
<div>
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="<%= asset_path( 'redcherry.png' ) %>" alt="Generic placeholder image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="bold">Red Cherry Lashes</h4>
    <p class="redcherry">A project for eyelash company Red Cherry Lashes. Project built with Laravel PHP Back-end and Backbone.js Front-end.<br/>
Some features that I worked on or implemented:<br/>
    <ul style="text-align: left;">
    <li>Dropdown box built from scratch.</li>
    <li>CSS Animations and transitions</li>
    <li>Mobile Responsiveness</li>
    <li>Stockists database + Front End</li>
    </ul></p>
  </div>
  </div>

<div>
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="<%= asset_path( 'muse.png' ) %>" alt="Generic placeholder image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="bold">Muse La Jolla</h4>
    <p class="redcherry">A project for residential property in La Jolla, San Diego. Project built with Laravel PHP Back-end and Backbone.js Front-end.<br/>
Some features that I worked on or implemented:<br/>
    <ul style="text-align: left;">
    <li>Google Maps API + Custom Markers for nearby amenities map.</li>
    <li>CSS Animations and transitions</li>
    <li>Mobile Responsiveness</li>
    <li>Floor plan map SVG's</li>
    </ul></p>
  </div>
</div>

<div>
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="<%= asset_path( 'redcherry.png' ) %>" alt="Generic placeholder image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="bold">Red Cherry Lashes</h4>
    <p class="redcherry">A project I worked on as an intern at MC Squared Los Angeles for eyelash company Red Cherry Lashes. Project built with Laravel PHP Back-end and Backbone.js Front-end.<br/>
Some features that I worked on or implemented:<br/>
    <ul style="text-align: left;">
    <li>Dropdown box built from scratch.</li>
    <li>CSS Animations and transitions</li>
    <li>Mobile Responsiveness</li>
    <li>Stockists database + Front End</li>
    </ul></p>
  </div>
</div>

</div>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Calm</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  </div>
</section>